<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mazad.mazadangy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.EditProfile.EditProfileActivity"></activity>
        <activity android:name=".gui.UserDetails.UserDetailsActivity" />
        <activity android:name=".gui.PostDetails.PostDetailsActivity" />
        <activity android:name=".gui.AddAds.AddAdsActivity" />
        <activity
            android:name=".gui.category.CategoryActivity"
            android:theme="@style/nobar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.home.HomeActivity"
            android:theme="@style/nobar" />
        <activity
            android:name=".gui.signup.SignUpActivity"
            android:theme="@style/nobar" />
        <activity
            android:name=".gui.login.LoginActivity"
            android:theme="@style/nobar" />
        <activity
            android:name=".gui.splash.SplashScrean"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>